name: release

on:
  push:
    tags:
      - "v*.*.*"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Generate Changelog
        run: echo "# Good things have arrived" > ${{ github.workspace }}-CHANGELOG.txt

      - name: Build
        run: echo ${{ github.sha }} > Release.txt

      - name: Test
        run: cat Release.txt
        
      - name: Release
        uses: softprops/action-gh-release@v2 # https://github.com/softprops/action-gh-release
        with:
          body_path: ${{ github.workspace }}-CHANGELOG.txt
          tag_name: v0.0.1
          files: |
            Release.txt
            LICENSE